*
{
    color: white;
}
     
 header
 {
    display: flex;
    justify-content: center;
  
   
    background-image: url('../images/black.jpg');
    border-radius: 10%;



 }

 nav 
 {
        color: #20BF55;
      
     
        font-size: 2vh;
        position: fixed;
        top: 3em;
        right: 2em;
       ;

        text-align: right;
       
        font-family: arial;
        text-transform: uppercase;
        width: 100%;

       

 }
 li:hover
 {
   
    
    color: whitesmoke;
 }

 li
 {
    list-style-type: none;
   

    font-weight: bold;
    font-size: 2vh;
 }
 section{
    
   
    border-radius: 25px;
    
 
  

    font-weight: bold;
    border: 2px#1a3830 dashed;
    background-image: url('../images/black.jpg');
    opacity: 90%;
    

    

 }


 main{
    display: flex;
    flex-direction: column;
    align-items: center;
   /* width: 80%;
    height: 300px;*/
    align-content: space-between;
 }
 section:hover
 {
    background-color: black;

    background-image: url('../images/star.gif');

 }
 *
 {
    padding: auto;
    
 }
 




span
{
font-size: 3.5vh;
}





 
  
        h1 {
  
        font-size: 6vh;
        font-family: Times new roman, 
            Helvetica, sans-serif;
      
        margin-top: 0.5em; 

    
    
    
      color: white;
    }
span{
     background: linear-gradient(
            45deg, #85FFBD 0%, #FFFB7D 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        margin-top: 0.5em;
}
   
  
  h3
  {
    text-transform: uppercase;

        color: #20BF55;
        font-size: 3vh;
           }

h3:hover
{
color: #28755f;
   } 
   hr
   {
    width: 70%;
    
    
   }
   a
   {
    text-decoration: none;
    color: inherit;
   }
   footer
   {
    background-color: black;
background-image: linear-gradient(45deg, #87FFBD 0%, #FFFB6D 100%);
color: black;
width: 70%;
text-align: center;
font-size: 2.5vh;
height: 5em;

font-style: italic;
padding-top: 1em;



}
   

nav a{
/*   padding-right: 2em;*/
   text-align: center;

   margin-left: 1em;
   width: 100%;
}
nav a:hover
{
       border-bottom: 1px solid white;
}
p{
font-size: 2vh;
position: relative;
padding-left: 1em;
padding-top: 1rem;


}

.animation {
  width: 200px;
  height: 200px;
  background-image: url('../images/mypic.jpg');
  background-size: cover;
  backdrop-filter: grayscale('100%');
  position: relative;
  border-radius: 25px;

  animation-name: example;
  animation-duration: 4s;
}

@keyframes example {
  0%   {background-color:#20BF55; left:0px; top:0px;}
  25%  {background-color:#20BF55; left:200px; top:0px;}
  50%  {background-color:#20BF55; left:200px; top:200px;}
  75%  {background-color:#20BF55; left:0px; top:200px;}
  100% {background-color:#20BF55; left:0px; top:0px;}
  
}
h4
{
   font-size: 3vh;
}


#work
{
     height: 15em;
    width: 80%;*
  padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 2.5vh;
    margin-bottom: 3em;
}


#education
{
height: 15em;
   width: 80%;
  padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 2.5vh;
    margin-bottom: 3em;
}
#profile
{
height: 23em;
    width: 80%;
    padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 2.5vh;
    margin-bottom: 3em;
}
#Skills
{
height: 15em;
    width: 80%;
      padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 3em;   font-size: 2.5vh;
    margin-bottom: 3em;
}
#strength
{
  height: 12em;
   width: 80%;
   padding-left: 1.5em;
    padding-right: 1.5em;
    font-size: 2.5vh;
    margin-bottom: 3em;
}

.firstpg
  {
  
    width: 90%;
  
  
   
  border: none;
   box-shadow: none;
   padding-left: 5em;
   padding-top: 5em;
   margin-top: 5px;
   margin-bottom: 3em;
  
 
   




  }
body
{
    background-image: url('../images/black.jpg');
background-size: cover;
}
nav a:hover
{
  
   text-transform:uppercase;
}
.contact1
{
    width: 1em;
    height: 1em;
  
    background-image: url('../images/insta.jpg');
    background-size: cover;
}
footer div
{
    display: inline-block;
}
.contact2
{
   width: 1em;
    height: 1em;
  
    background-image: url('../images/fb.png');
    background-size: cover;
}
.contact3
{
    width: 1em;
    height: 1em;
    
    background-image: url('../images/linkedin.png');
    background-size: cover;

}
@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .container,  nav a, .firstpg, .education, .profile, .strength footer table {
    width: 100%;
    height: auto;

  }